In [1]:
print("HEllo world")

HEllo world

In [2]:
print("Hello","World")

Hello World

In [20]:
print("Hello",     "World")

Hello World

In [7]:
print("Hello", end ="-")
print("World")

Hello-World

In [9]:
 for c in [0b1001000, 0b1100101, 0b1101100, 0b1101100, 0b1101111, 0b0100000, 0b1010111, 0b1101111, 0b1110010, 0b1101100, 0b1100100, 0b0100001, 0b0001010]:
        print(c)

72
101
108
108
111
32
87
111
114
108
100
33
10

In [15]:
 for c in [0b1001000, 0b1100101, 0b1101100, 0b1101100, 0b1101111, 0b0100000, 0b1010111, 0b1101111, 0b1110010, 0b1101100, 0b1100100, 0b0100001, 0b0001010]:
        print(chr(c), end="    ")

H    e    l    l    o         W    o    r    l    d    !

In [17]:
print("Hello"); print("World")

Hello
World

In [23]:
print("Hello")

Hello

In [25]:
print(42,"42")

42 42

In [30]:
print("hello",3,"there", end="")

hello 3 there

In [35]:
print("x :",3, ",Y :",22)

x : 3 ,Y : 22

In [36]:
print("42",42)

42 42

In [38]:
20/5/3

1.3333333333333333

In [39]:
x = y = z = 2+8+4

In [40]:
x

14

In [41]:
y

14

In [43]:
a = """hello dear
there is """
print(a)

hello dear
there is

In [44]:
2**3

8

In [46]:
3**4

81

In [47]:
2**81

2417851639229258349412352

In [51]:
a= 60
b = 443

divmod(b,a)

(7, 23)

In [54]:
x=88
x+=3
print(x)

91

In [55]:
aprint = print
aprint("Hello")

Hello

In [60]:
3%5+2

5

In [61]:
3%5

3

In [62]:
55/3+4*2

26.333333333333332

In [63]:
55/3

18.333333333333332

In [68]:
55/33%2

1.6666666666666667

In [69]:
33%2

1

In [70]:
55/33

1.6666666666666667

In [71]:
55//33%2

1

In [72]:
55//33/2

0.5

floor division , division, modulus, times,plus, minus

In [73]:
6+5-2

9

In [78]:
name = input("Enter your name here :")

print('Greetings',name+"!")

Enter your name here :nayem
Greetings nayem!

In [80]:
name = str(input("Enter your name : "))
print(name)

Enter your name : nayeem
nayeem

In [ ]:
num = str(input("Enter your number : "))
print(num)

In [1]:
s = "5+122"
eval(s)

127

In [4]:
n = eval(input("Enter your number :"))
print(n)

Enter your number :22.33
22.33

In [5]:
type(n)

float

In [7]:
s = print("HEllo")

HEllo

In [8]:
type(s)

NoneType

In [18]:
def say_hi():
    print("Hello world")
    
a = say_hi()

Hello world

In [19]:
type(a)

NoneType

In [21]:
print(a)

None

In [22]:
def say_hi():
    return "Hello world"
    
b = say_hi()
print(b)

Hello world

In [23]:
type(b)

str

In [24]:
def greet(name):
    say_hi()
    print("Oh hello",name)
    return

In [26]:
r = greet("nayeem")

Oh hello nayeem

In [27]:
type(r)

NoneType

In [30]:
print(2**(2+5))

128

In [35]:
def get_input():
    x = float(input("Enter a number: ")) 
    return x

def main(): 
    get_input() 
    print(x**2)

In [37]:
main()

Enter a number: 4

NameError: name 'x' is not defined

In [44]:
class Employee:
    name = 'nayem',
    age = 22,
    op ='machine learning enginner',
    location = 'Dhaka'
    def display(self):
        print(self.name, self.age, self.op, self.location)

emp = Employee()

def show(obj):
    print(obj.name, obj.age, obj.op, obj.location)

show(emp)

('nayem',) (22,) ('machine learning enginner',) Dhaka

In [45]:
emp.display()

('nayem',) (22,) ('machine learning enginner',) Dhaka

In [46]:
type(emp)

__main__.Employee

In [47]:
type(display)

function

In [48]:
type(Employee)

type

In [49]:
s = 'nayem'
s.upper()

'NAYEM'

In [50]:
s.lower()

'nayem'

In [53]:
(303).bit_length()

9

In [55]:
class Student:
    def __init__(self, name, age, loc, gender):
        self.name = name,
        self.age = age,
        self.loc = loc,
        self.gender = gender
    
    def display_info(self):
        print(self.name, self.gender, self.age, self.loc)
        
std = Student('nayem', 22, 'dhaka', 'male')
std.display_info()

('nayem',) male (22,) ('dhaka',)

In [60]:
"#"*70

'######################################################################'

In [62]:
dir(std)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'age',
 'display_info',
 'gender',
 'loc',
 'name']

In [63]:
l = [2,3,4,5,6,7]
l.append((334,44,55))
l

[2, 3, 4, 5, 6, 7, (334, 44, 55)]

In [64]:
l.append({'name':'nayeem'})
l

[2, 3, 4, 5, 6, 7, (334, 44, 55), {'name': 'nayeem'}]

In [65]:
l[2] = 44444
l

[2, 3, 44444, 5, 6, 7, (334, 44, 55), {'name': 'nayeem'}]

In [66]:
s = 'nm'
dir(s)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [67]:
import turtle as t

In [68]:
t.fd(100)
t.shape('turtle')