In [ ]:
import tkinter
from tkinter.constants import *
tk = tkinter.Tk()
frame = tkinter.Frame(tk, relief=RIDGE, borderwidth=2)
frame.pack(fill=BOTH,expand=1)
label = tkinter.Label(frame, text="Hello, Shanjidul")
label.pack(fill=X, expand=1)
button = tkinter.Button(frame,text="Exit",command=tk.destroy)
button.pack(side=BOTTOM)
tk.mainloop()

In [1]:
print("Hello")

Hello

In [1]:
print("******** The University Management Software ***********")
s=1
while s == 1:
    action = input("""Select your desired action for maintain the school properly : 
               1. Admission
               2. Information
               3. Student Login
               
    """)

    if action == "1":
        print("Creating admission form and required documents.Wait a minute dear !")
        s=0
    elif action == "2":
        print("Information page")
        s=0
    elif action == "3":
        print("Student Login page")
        s=0
    else :
        repeat = input(""""Would you like to edit your choice??? Yes or NO???""")
        if repeat == "No":
            print("Thanks for using this software.Have a good day !")
            s = 0

******** The University Management Software ***********
Select your desired action for maintain the school properly :
               1. Admission
               2. Information
               3. Student Login

    1
Creating admission form and required documents.Wait a minute dear !

In [18]:
ml = ["nayem",'name',88,9,45,'name']
print(ml)

['nayem', 'name', 88, 9, 45, 'name']

In [19]:
ml[1][1]  #mylist[list][itemoflist]

'a'

In [131]:
ml[1][2:]

'me'

In [132]:
l =[[1,2,3,4],[5,6,7,8]]
print(l)

[[1, 2, 3, 4], [5, 6, 7, 8]]

In [133]:
l[1][2]

7

In [134]:
l[0][:2]

[1, 2]

In [21]:
ml[1]

'name'

In [22]:
ml[-3]

9

In [23]:
ml.index("nayem")

0

In [24]:
ml.index("name")

1

In [26]:
ml.count("name")

2

In [27]:
ml.count(88)

1

In [28]:
ml.remove(9)

In [29]:
print(ml)

['nayem', 'name', 88, 45, 'name']

In [30]:
ml.pop()
print(ml)

['nayem', 'name', 88, 45]

In [31]:
ml.pop(-2)
print(ml)

['nayem', 'name', 45]

In [32]:
ml.pop(2)
print(ml)

['nayem', 'name']

In [59]:
s ='mynameisnayemandiamgoog'
print(s)

mynameisnayemandiamgoog

In [60]:
s[3]

'a'

In [61]:
s[:4]

'myna'

In [62]:
s.count('a')

4

In [63]:
s.count('2')

0

In [64]:
s.replace('a','e')

'mynemeisneyemendiemgoog'

In [99]:
s=s.replace('a','e')
print(s)

mynemeisneyemendiemgoog

In [100]:
print(s)

mynemeisneyemendiemgoog

In [101]:
s.count('e')

6

In [102]:
s.strip()

'mynemeisneyemendiemgoog'

In [103]:
print(ss)

   my name is nayem and i am good

In [68]:
ss="   my name is nayem and i am good"
print(ss)
print(ss.strip(),end=" ")
print("hello")

   my name is nayem and i am good
my name is nayem and i am good hello

In [70]:
import numpy as np
a = np.array([1,2,3,4])
print(a)

[1 2 3 4]

In [71]:
a.shape

(4,)

In [75]:
np.append(a)

TypeError: _append_dispatcher() missing 1 required positional argument: 'values'

In [76]:
np.median(a)

2.5

In [77]:
np.mean(a)

2.5

In [79]:
np.corrcoef(a)

1.0

In [80]:
np.std(a)

1.118033988749895

In [94]:
a= np.delete(a,[1]) #temporary
print(a)

[ 1  3  4 33]

In [95]:
a= np.append(a,33)
print(a)

[ 1  3  4 33 33]

In [105]:
a= np.insert(a,3,22)

In [106]:
print(a)

[ 1  3  4 22 33 33]

In [107]:
str(True)

'True'

In [109]:
str("hello")

'hello'

In [110]:
str(33)

'33'

In [111]:
str(44.4)

'44.4'

In [113]:
int(4.5)

4

In [114]:
int(True)

1

In [115]:
int(False)

0

In [116]:
float(True)

1.0

In [117]:
float(False)

0.0

In [123]:
bool(9)

True

In [125]:
bool(0)

False

In [126]:
bool('hello')

True

In [129]:
bool(3.3)

True

In [136]:
float('55')

55.0

In [138]:
"-".join(['a','b','c','d','e'])

'a-b-c-d-e'

In [139]:
for i in range(10):
    print(i,end=',')

0,1,2,3,4,5,6,7,8,9,

In [150]:
f = open('a-Copy1.txt','r',encoding='utf8')
s = f.read()
print(s)

In Section 12.1, we will learn how to read from a text ﬁle. For now, here’s a line of code that reads the entire contents of a ﬁle containing the text of Shakespeare’s Romeo and Juliet and stores the contents in a string called text: text = open('romeoandjuliet.txt').read() To get at the individual words, we will use the split method to turn the string into a list of its individual words. Also, because some words may be capitalized, we will convert the whole string to lowercase. We also have to remove punctuation. from string import punctuation
text = text.lower() for p in punctuation: text = text.replace(p, '') words = text.split()
Nextcomesthedictionarycodethatdoesthecounting. Thedictionarykeyswillbethewordsfrom the text and the values will be counts of how many time each word appears. We start with an empty dictionary. Then for every word in the list of words, if we have seen the word before, we add one to its count, and otherwise we set the count for that word equal to 1. Here is the code: d = {} for w in words: if w in d: d[w] = d[w] + 1

In [152]:
s.splitlines()

["In Section 12.1, we will learn how to read from a text ﬁle. For now, here’s a line of code that reads the entire contents of a ﬁle containing the text of Shakespeare’s Romeo and Juliet and stores the contents in a string called text: text = open('romeoandjuliet.txt').read() To get at the individual words, we will use the split method to turn the string into a list of its individual words. Also, because some words may be capitalized, we will convert the whole string to lowercase. We also have to remove punctuation. from string import punctuation",
 "text = text.lower() for p in punctuation: text = text.replace(p, '') words = text.split()",
 'Nextcomesthedictionarycodethatdoesthecounting. Thedictionarykeyswillbethewordsfrom the text and the values will be counts of how many time each word appears. We start with an empty dictionary. Then for every word in the list of words, if we have seen the word before, we add one to its count, and otherwise we set the count for that word equal to 1. Here is the code: d = {} for w in words: if w in d: d[w] = d[w] + 1 ']

In [161]:
f = open('a-Copy1.txt','r',encoding='utf8')
s = f.read()
s= s.split('.')
for i in range(len(s)):
    print(s[i])

In Section 12
1, we will learn how to read from a text ﬁle
 For now, here’s a line of code that reads the entire contents of a ﬁle containing the text of Shakespeare’s Romeo and Juliet and stores the contents in a string called text: text = open('romeoandjuliet
txt')
read() To get at the individual words, we will use the split method to turn the string into a list of its individual words
 Also, because some words may be capitalized, we will convert the whole string to lowercase
 We also have to remove punctuation
 from string import punctuation
text = text
lower() for p in punctuation: text = text
replace(p, '') words = text
split()
Nextcomesthedictionarycodethatdoesthecounting
 Thedictionarykeyswillbethewordsfrom the text and the values will be counts of how many time each word appears
 We start with an empty dictionary
 Then for every word in the list of words, if we have seen the word before, we add one to its count, and otherwise we set the count for that word equal to 1
 Here is the code: d = {} for w in words: if w in d: d[w] = d[w] + 1

In [153]:
'55'.zfill(6)

'000055'

In [156]:
l=[1,2,3,4,5,4,3]
s= set(l)
print(s)

{1, 2, 3, 4, 5}

In [157]:
len(s)

5

In [158]:
2 in s

True

In [166]:
import re

f = '''Thedictionarykeyswillbethewordsfrom the text and the values will be counts of how many time each word appears
 We start with an empty dictionary
 Then for every word in the list of words, if we have seen the word before, we add one to its count, and otherwise we set the count for that word equal to 1
'''

re.search('if',f)

In [169]:
import datetime as dt
 

n = dt.datetime.now()
print(n)

2019-12-10 15:02:18.145452

In [171]:
wks4 = dt.datetime.timedelta(weeks=4)
print(wks4)

AttributeError: type object 'datetime.datetime' has no attribute 'timedelta'

In [173]:
import random

random.random() #returns number in between 0 and 1

0.5055882057331661

In [179]:
a= random.randint(4,10)
print(a)

6

In [180]:
l =[1,2,3,4,5,6,7,89,9]
print(l)

[1, 2, 3, 4, 5, 6, 7, 89, 9]

In [182]:
from collections import Counter

ss = Counter(l)
print(ss)
ss.most_common(3)

Counter({1: 1, 2: 1, 3: 1, 4: 1, 5: 1, 6: 1, 7: 1, 89: 1, 9: 1})

[(1, 1), (2, 1), (3, 1)]

In [183]:
print(l)

[1, 2, 3, 4, 5, 6, 7, 89, 9]

In [185]:
import numpy as np
ll = np.array(l)
print(ll)

[ 1  2  3  4  5  6  7 89  9]

In [186]:
np.mean(ll)

14.0

In [187]:
np.median(ll)

5.0

In [188]:
np.corrcoef(ll)

1.0

In [189]:
np.std(ll)

26.620793877468543

In [190]:
ll.mean()

14.0

In [12]:
d ={"a":66,'b':34,'c':22,'d':55,'e':33}

In [13]:
min(d)

'a'

In [14]:
max(d,key=d.get)

'a'

In [15]:
min(d,key=d.get)

'c'

In [16]:
max(d)

'e'

In [18]:
import numpy as np
f = np.array([[1,2,3,4],[5,6,7,8]])
print(f)

[[1 2 3 4]
 [5 6 7 8]]

In [19]:
np.std(f)

2.29128784747792

In [23]:
np.std(f,axis=0)

array([2., 2., 2., 2.])

In [24]:
np.info(np.eye)

 eye(N, M=None, k=0, dtype=<class 'float'>, order='C')

Return a 2-D array with ones on the diagonal and zeros elsewhere.

Parameters
----------
N : int
  Number of rows in the output.
M : int, optional
  Number of columns in the output. If None, defaults to `N`.
k : int, optional
  Index of the diagonal: 0 (the default) refers to the main diagonal,
  a positive value refers to an upper diagonal, and a negative value
  to a lower diagonal.
dtype : data-type, optional
  Data-type of the returned array.
order : {'C', 'F'}, optional
    Whether the output should be stored in row-major (C-style) or
    column-major (Fortran-style) order in memory.

    .. versionadded:: 1.14.0

Returns
-------
I : ndarray of shape (N,M)
  An array where all elements are equal to zero, except for the `k`-th
  diagonal, whose values are equal to one.

See Also
--------
identity : (almost) equivalent function
diag : diagonal 2-D array from a 1-D array specified by the user.

Examples
--------
>>> np.eye(2, dtype=int)
array([[1, 0],
       [0, 1]])
>>> np.eye(3, k=1)
array([[0.,  1.,  0.],
       [0.,  0.,  1.],
       [0.,  0.,  0.]])

In [26]:
print(f)

[[1 2 3 4]
 [5 6 7 8]]

In [27]:
f.tolist()

[[1, 2, 3, 4], [5, 6, 7, 8]]

In [28]:
f.astype(float)

array([[1., 2., 3., 4.],
       [5., 6., 7., 8.]])

In [31]:
f.sort()
print(f)

[[1 2 3 4]
 [5 6 7 8]]

In [32]:
np.power(f,2)

array([[ 1,  4,  9, 16],
       [25, 36, 49, 64]], dtype=int32)

In [35]:
r = np.array([1,2,3,4,5])
print(r)
t = np.array([2,2,2,2,2])

np.power(r,t)

[1 2 3 4 5]

array([ 1,  4,  9, 16, 25], dtype=int32)

In [36]:
print(f)

[[1 2 3 4]
 [5 6 7 8]]

In [40]:
np.min(f,axis=1)

array([1, 5])

In [41]:
np.var(f)

5.25

In [44]:
np.std(f,axis=1)

array([1.11803399, 1.11803399])

In [45]:
f[1,2]

7

In [49]:
f[1][2]=6
print(f)

[[1 2 3 4]
 [6 6 6 6]]

In [57]:
f[:2,2]

array([3, 6])

In [59]:
f[f>2]

array([3, 4, 6, 6, 6, 6])

In [60]:
print(f)

[[1 2 3 4]
 [6 6 6 6]]

In [61]:
f.reshape((4,2))

array([[1, 2],
       [3, 4],
       [6, 6],
       [6, 6]])

In [64]:
f.resize((4,3))
print(f)

ValueError: cannot resize an array that references or is referenced
by another array in this way.
Use the np.resize function or refcheck=False

In [67]:
g = np.array([[1,2,3,4],[5,6,7,8]])
h = np.array([[3,2,4,1],[6,7,8,5]])
np.concatenate((g,h),axis=0)

array([[1, 2, 3, 4],
       [5, 6, 7, 8],
       [3, 2, 4, 1],
       [6, 7, 8, 5]])

In [68]:
np.concatenate((g,h),axis=1)

array([[1, 2, 3, 4, 3, 2, 4, 1],
       [5, 6, 7, 8, 6, 7, 8, 5]])

In [76]:
np.split(g,2)

[array([[1, 2, 3, 4]]), array([[5, 6, 7, 8]])]

In [77]:
np.split(g,2)

[array([[1, 2, 3, 4]]), array([[5, 6, 7, 8]])]

In [78]:
np.vsplit(g,2)

[array([[1, 2, 3, 4]]), array([[5, 6, 7, 8]])]

In [79]:
print(g)

[[1 2 3 4]
 [5 6 7 8]]

In [81]:
g.cumsum(axis=1)

array([[ 1,  3,  6, 10],
       [ 5, 11, 18, 26]], dtype=int32)