#### Chapter 1

In [9]:
t= eval(input("Enter any temperature in celcius : "))
print("the temp in fahrenheit is : ",9/5*t+32)

Enter any temperature in celcius : 22
the temp in fahrenheit is :  71.6

In [4]:
num1= eval(input("Enter the first number : ")) 
num2= eval(input("Enter the second number : "))
print("The average of the given two number is : ",num1+num2/2)

Enter the first number : 22
Enter the second number : 33
The average of the given two number is :  38.5

In [11]:
name = input("Enter your name : ")
print("Hello",name)

Enter your name : nayeem sussman
Hello nayeem sussman

In [17]:
n = eval(input("Enter your number : "))
print("The squared of your number is : ",n*n)

Enter your number : 2.2
The squared of your number is :  4.840000000000001

In [23]:
print("A",1,"XYZ",2)

A 1 XYZ 2

In [33]:
print("The 3 times 5 is :",3*5,".")
print("The 3 times 5 is :",3*5,".",sep="")

The 3 times 5 is : 15 .
The 3 times 5 is :15.

In [39]:
print("On the first line.",end=" ")
print("On the secong line")

On the first line. On the secong line

In [43]:
temp = eval(input("Enter the temperature in Celcius : "))
f_temp = 9/5*temp+32

if f_temp>212:
    print("The temperature is",f_temp,"Fahrenheit and which is above the boiling point")
elif f_temp<32:
    print("The temperature is",f_temp,"Fahrenheit and which is under the freezing point")
else :
    print("The temperature is",f_temp,"Fahrenheit and which is inside boiling and freezing point and ready to use ")

Enter the temperature in Celcius : 101
The temperature is 213.8 Fahrenheit and which is above the boiling point

#### 1.8 exercise

In [50]:
#Exercise 1

for i in range(4):
    for j in range(15):
        print("*",end=" ")
    print("\n")

* * * * * * * * * * * * * * *

* * * * * * * * * * * * * * *

* * * * * * * * * * * * * * *

* * * * * * * * * * * * * * *

In [49]:
#Exercise 1

for i in range(4):
    for j in range(10):
        print("*",end=" ")
    print("\n")

* * * * * * * * * *

* * * * * * * * * *

* * * * * * * * * *

* * * * * * * * * *

In [34]:
#Exercise 2

for i in range(4):
    for j in range(15):
        if (i == 0 or i==3) or (j==0 or j==14):
                print("*",end =" ")
        else:
            print(" ",end = " ")        
    print("\n")

* * * * * * * * * * * * * * *

*                           *

*                           *

* * * * * * * * * * * * * * *

In [52]:
for i in range(4):
    for j in range(15):
        if i==1 or i ==2:
            if j==0 or j==14:
                print("*",end=" ")
            else :
                print(" ",end=" ")
            continue
        print("*",end =" ")
    print("\n")

* * * * * * * * * * * * * * *

*                           *

*                           *

* * * * * * * * * * * * * * *

In [53]:
#Exercise 3

for i in range(5):
    for j in range(i+1):
        print("*",end = " ")
    print("\n")

*

* *

* * *

* * * *

* * * * *

In [15]:
#Exercise 4

print((512-282)/(47.48+5))

4.382621951219512

In [5]:
#Exercise 6

n = eval (input("Enter any number :"))

print(n,"",2*n,"",3*n,"",4*n,'',5*n,sep=" ")

Enter any number :2
2  4  6  8  10

In [7]:
n = eval (input("Enter any number :"))

print(n,2*n,3*n,4*n,5*n,sep="---")

Enter any number :2
2---4---6---8---10

In [36]:
#Exercise 7
n = eval (input("Enter weight in kilograms :"))
p = n*2.2
print("The weight is ",p,"Pounds")

Enter weight in kilograms :1
The weight is  2.2 Pounds

In [43]:
#Exercise 8

n, m , x = eval (input("Enter 3 numbers : "))
t= n+m+x
a= t/2

print("Total of given numbers is :",t)
print("Average of given numbers is :",a)

Enter 3 numbers : 2,11,2
Total of given numbers is : 15
Average of given numbers is : 7.5

In [55]:
#Exercise 9
print("TIP CALCULATOR :")

p,t = eval(input("Enter the price of the meal and percentage of tip :"))
tip = p*t/100
print("The price of the meal is :",p," and the tip amount is :",tip)

TIP CALCULATOR :
Enter the price of the meal and percentage of tip :1000,5
The price of the meal is : 1000  and the tip amount is : 50.0

#### Chapter 2

In [62]:
for i in range(10):
    print("Hello",end =".")

Hello.Hello.Hello.Hello.Hello.Hello.Hello.Hello.Hello.Hello.

In [65]:
for i in range(3):
    n = eval(input("Enter number : "))
    print("The square of",n,"is :",n**2)
print("loop ended")

Enter number : 2
The square of 2 is : 4
Enter number : 3
The square of 3 is : 9
Enter number : 4
The square of 4 is : 16
loop ended

In [68]:
print('A',end="")
print('B',end="")
for i in range(3):
    print("C",end="")
    print("D",end="")
print("E",end="")

ABCDCDCDE

In [70]:
print("A",end="")
print("B",end="")
for i in range(10):
    print("C",end="")
for i in range(10):
    print("D",end="")
print("E",end="")

ABCCCCCCCCCCDDDDDDDDDDE

In [82]:
for i in range(10):
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9

In [83]:
for i in range(5):
    print(i,"-- Hello ")

0 -- Hello
1 -- Hello
2 -- Hello
3 -- Hello
4 -- Hello

In [86]:
for i in range(10,2,-2):
    print(i,end =" ")
print("Blast off !")

10 8 6 4 Blast off !

In [88]:
for i in range(5):
    print("*"*10)

**********
**********
**********
**********
**********

In [92]:
for i in range(7):
    print("*"*(i+1))

*
**
***
****
*****
******
*******

##### 2.5 Exercises

In [103]:
#Exercise 1 

for i in range(20):
    print(i,"Nick Zussman", end =" | ")

0 Nick Zussman | 1 Nick Zussman | 2 Nick Zussman | 3 Nick Zussman | 4 Nick Zussman | 5 Nick Zussman | 6 Nick Zussman | 7 Nick Zussman | 8 Nick Zussman | 9 Nick Zussman | 10 Nick Zussman | 11 Nick Zussman | 12 Nick Zussman | 13 Nick Zussman | 14 Nick Zussman | 15 Nick Zussman | 16 Nick Zussman | 17 Nick Zussman | 18 Nick Zussman | 19 Nick Zussman |

In [105]:
# Exercise 4
for i in range(10):
    print(i,":",i**2)

0 : 0
1 : 1
2 : 4
3 : 9
4 : 16
5 : 25
6 : 36
7 : 49
8 : 64
9 : 81

In [107]:
# Exercise 5
for i in range(8,90,3):
    print(i,end=" ")

8 11 14 17 20 23 26 29 32 35 38 41 44 47 50 53 56 59 62 65 68 71 74 77 80 83 86 89

In [108]:
# Exercise 6
for i in range(100,1,-2):
    print(i,end=" ")

100 98 96 94 92 90 88 86 84 82 80 78 76 74 72 70 68 66 64 62 60 58 56 54 52 50 48 46 44 42 40 38 36 34 32 30 28 26 24 22 20 18 16 14 12 10 8 6 4 2

In [109]:
# Exercise 7
for i in range(10):
    print("A",end="")
for i in range(5):
    print("B",end ="")
for i in range(4):
    print("CD",end="")
print("E",end="")
for i in range(6):
    print("F",end="")
print("G")

AAAAAAAAAABBBBBCDCDCDCDEFFFFFFG

In [112]:
# Exercise 8
name= input("Enter your name here : ")
t = eval (input("How many times do you want to print it here? enter the number : "))

for i in range(t):
    print(name,end =" ")

Enter your name here : nick
How many times do you want to print it here? enter the number : 5
nick nick nick nick nick

In [5]:
# Exercise 9

n = eval(input("Enter the starting point of fibonacci : "))
m = eval(input("Enter the closing point of fibonacci : "))
nn=n+1

while n<m:
    print(n,end=" ")
    n,nn =nn,nn+n

Enter the starting point of fibonacci : 2
Enter the closing point of fibonacci : 100
2 3 5 8 13 21 34 55 89

In [10]:
# Exercise 11

for i in range(4):
    for j in range(10):
        if i==1 or i==2:
            if j==0 or j==9:
                print("*",end= " ")
            else :
                print(" ",end=" ")
            continue
        print("*",end=" ")
    print("\n")

* * * * * * * * * *

*                 *

*                 *

* * * * * * * * * *

In [13]:
# Exercise 12

for i in range(10):
    print("*"*(i+1))

*
**
***
****
*****
******
*******
********
*********
**********

In [14]:
# Exercise 14

for i in range(5,0,-1):
    print("*"*i)

*****
****
***
**
*

In [18]:
# Exercise 14

for i in range(7):
    for j in range(0,i+1):
        print("*",end=" ")
    print("\n")

*

* *

* * *

* * * *

* * * * *

* * * * * *

* * * * * * *

In [28]:
# Exercise

for i in range(0,10):
    for j in range(0,10-i-1):
        print("",end=" ")
    for j in range(0,i+1):
        print("*",end="")
    print()

         *
        **
       ***
      ****
     *****
    ******
   *******
  ********
 *********
**********

In [125]:
for i in range(10):
    for j in range(0,10-i-1):
        print("",end=" ")
   
    for k in range(0,i+1):
        print("*",end=" ")
    print()

         *
        * *
       * * *
      * * * *
     * * * * *
    * * * * * *
   * * * * * * *
  * * * * * * * *
 * * * * * * * * *
* * * * * * * * * *

In [60]:
for i in range(10):
    for j in range(0,10-i-1):
        print("",end=" ")
    for j in range(0,i+1):
        print("*",end=' ')
    print()

         *
        * *
       * * *
      * * * *
     * * * * *
    * * * * * *
   * * * * * * *
  * * * * * * * *
 * * * * * * * * *
* * * * * * * * * *

In [59]:
for i in range(10):
    for j in range(0,10-i-1):
        print(" ",end=' ')
    for j in range(0,i+1):
        print("*",end=" ")
    print()

                  *
                * *
              * * *
            * * * *
          * * * * *
        * * * * * *
      * * * * * * *
    * * * * * * * *
  * * * * * * * * *
* * * * * * * * * *

In [69]:
for i in range(10):
    for j in range(0,i+1):
        print(" ",end=" ")
    for j in range(10,i,-1):
        print("*",end=" ")
    print()

  * * * * * * * * * *
    * * * * * * * * *
      * * * * * * * *
        * * * * * * *
          * * * * * *
            * * * * *
              * * * *
                * * *
                  * *
                    *

In [78]:
for i in range(10):
    for j in range(i+1,0):
        print(" ",end=" ")
    for j in range(10,i,-1):
        print("*",end=" ")
    print()

* * * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [100]:
for i in range(5):
    for j in range(0,i+1):
        print('*',end=" ")
    print()
for i in range(5,0,-1):
    for j in range(0,i-1):   
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [103]:
for i in range(10):
    for j in range(0,i+1):
        print('',end=" ")
    for j in range(0,10-i):
        print("*",end=" ")
    print()

 * * * * * * * * * *
  * * * * * * * * *
   * * * * * * * *
    * * * * * * *
     * * * * * *
      * * * * *
       * * * *
        * * *
         * *
          *

In [124]:
for i in range(10):
    for j in range(0, 10-i-1):
        print("",end=" ")
    for j in range(0,i+1):
        print('*',end=" ")
    print()
for i in range(0,10):
    for j in range(0,i+1):
        print(" ",end="")
    for j in range(9,i,-1):
        print("*",end=" ")
    print()

         *
        * *
       * * *
      * * * *
     * * * * *
    * * * * * *
   * * * * * * *
  * * * * * * * *
 * * * * * * * * *
* * * * * * * * * *
 * * * * * * * * *
  * * * * * * * *
   * * * * * * *
    * * * * * *
     * * * * *
      * * * *
       * * *
        * *
         *

In [146]:
for i in range(10):
    for j in range(10,i,-1):
        print(" ",end="")
    for j in range(0,i+1):
        if (i ==2 and j==1 ) or (i==3 and (j==1 or j==2) ):
            print(" ",end=" ")
        elif ((i==5 or i==6 ) and j==1):
            print(" ",end=" ")
        

            
        else :
            print("*",end =" ")
        continue   
        print("*",end =" ")
    print()

          *
         * *
        *   *
       *     *
      * * * * *
     *   * * * *
    *   * * * * *
   * * * * * * * *
  * * * * * * * * *
 * * * * * * * * * *

In [147]:
### A shape needs to be implemented later

In [161]:
from random import randint 
x= randint(1,100)
print("A eandom number between 1 and 10 :",x)

A eandom number between 1 and 10 : 91

In [188]:
from math import factorial,sin,tan,cos,pi,exp,floor,ceil,sqrt

fact = factorial
fact(5)

120

In [169]:
sqrt(100)

10.0

In [170]:
pi*2

6.283185307179586

In [172]:
factorial(10)

3628800

In [173]:
sin(5)

-0.9589242746631385

In [174]:
cos(5)

0.28366218546322625

In [175]:
tan(5)

-3.380515006246586

In [179]:
exp(2)

7.38905609893065

In [185]:
floor(10.788)

10

In [186]:
ceil(10.223)

11

In [190]:
round(10.2234566,3)

10.223

In [192]:
print("pi is roughly : ",pi)
sin(0)

pi is roughly :  3.141592653589793

0.0

In [194]:
abs(-3.4455667)

3.4455667

In [199]:
round(3.67899876,3)

3.679

In [203]:
round(3.336,2)

3.34

In [209]:
round(9.4567,-1)

10.0

##### Exercise 3.8

In [211]:
# Exercise 1

for i in range(50):
    x= randint(3,6)
    print(x,end=" ")

4 3 4 6 5 4 6 5 5 5 4 6 6 5 3 5 5 3 6 4 6 3 6 6 5 6 6 5 4 3 4 5 5 5 6 3 3 3 4 6 4 5 6 3 3 5 3 3 6 4

In [6]:
# Exercise 2
import random
x = random.randint(1,50)

print(x)
y= random.randint(2,5)
print(y)
print(x**y)

24
5
7962624

In [8]:
# Exercise 3
x = random.randint(1,10)
print(x)

for i in range(x):
    print("nayeem")

3
nayeem
nayeem
nayeem

In [9]:
# Exercise 4
from random import randint

x = random.randint(1,10)
print(x)

4

In [10]:
# Exercise 5

for i in range(50):
    x = random.randint(1,i+2)
    print(x,end=" ")

2 3 4 5 1 1 8 3 1 8 4 11 9 14 12 1 16 10 12 8 2 2 11 15 11 6 13 10 11 29 23 32 21 35 7 14 36 31 34 35 7 22 39 36 20 46 9 46 15 32

In [1]:
# Exercise 6

x = eval(input("Enter first number : "))
y = eval (input("Enter second number : "))

z= x-y
zz = x+y
print(abs(z))
r = abs(z)/zz
print(r)

Enter first number : 5
Enter second number : 10
5
0.3333333333333333

In [11]:
# Exercise 7

an = eval(input("Enter an angel between -180 to 180 : "))

if an >=0 :
    print(an)
else:
    print(180+abs(an))

Enter an angel between -180 to 180 : -27
207

In [12]:
# Exercise 8

s = eval (input("Enter number of seconds : "))

m= s//60
a =s%60
print(m,"minutes and ",a,"seconds !")

Enter number of seconds : 130
2 minutes and  10 seconds !

In [14]:
# Exercise 9
h = eval(input("Enter the hours between 1 and 12 : "))
i = eval(input("How many hours you want to go ahed : "))

m = h+i
n= 0
if m>=12:
    n = m%12
    print(n,"'o clock")
else :
    print(m,"o' clock")

Enter the hours between 1 and 12 : 2
How many hours you want to go ahed : 4
6 o' clock

In [ ]:
# Exercise 10

In [10]:
# Exercise 11

a = eval(input(" Enter any weight in kilogram : "))
p = a*2.2
a = round(p,2)
print(a,"pounds !")

 Enter any weight in kilogram : 3.333
7.33 pounds !

In [11]:
a =3/9
print(a)
b= round(a,7)
print(b)

0.3333333333333333
0.3333333

In [14]:
# Exercise 12

n = eval (input("Enter a number : "))
m=1
for i in range(1,n+1):
    m=m*i
print(m)

Enter a number : 10
3628800

In [18]:
# Exercise 13
from math import sin, cos , tan

n = eval(input("Enter a number : "))
print(sin(n))
print(cos(n))
print(tan(n))

Enter a number : 3
0.1411200080598672
-0.9899924966004454
-0.1425465430742778

In [19]:
# Exercise 14
n = eval(input("Enter a angel in degree and get the sine of that angel : "))

print(sin(n))

Enter a angel in degree and get the sine of that angel : 120
0.5806111842123143

In [ ]:
# Exercise 15

In [ ]:
# Exercise 16

In [ ]:
# Exercise 17

In [ ]:
# Exercise 18

In [2]:
# Exercise 19
row = eval (input("Enter the row number of the rectangle : "))
col = eval (input("Enter the column number of the rectangle : "))

for i  in range(row):
    for j in range(col):
        n=i+j
        print(n,end=" ")
        
        
    print()

Enter the row number of the rectangle : 3
Enter the column number of the rectangle : 3
0 1 2
1 2 3
2 3 4

In [ ]:
n = row *col
l = []

for i in range(n):
    l.append(i)
print(l)

In [ ]:
# Exercise 20

In [ ]:
# Exercise

In [ ]:
# Exercise

In [ ]:
# Exercise

In [ ]:
# Exercise

In [ ]:
# Exercise

In [ ]:
# Exercise

In [ ]:
# Exercise

In [ ]:
# Exercise

In [ ]:
# Exercise

In [ ]:
# Exercise

In [ ]:
# Exercise

In [ ]:
# Exercise

In [ ]:
# Exercise

In [ ]:
# Exercise

### Chapter 4 : If statement

In [ ]:
from random import randint

r=True
while r:
    x=randint(1,10)
    n=eval(input("Enter a number : "))
    if x==n:
        print("You got the numner : ",x)
        print("You won ! Congratulations !")
        r= eval(input("would you like to play again? press 1 for Play again : "))
        if r== 1:
            r = True
        else :
            r =False

    else :
        print("Wrong guess ! Actual result is : ",x)
        r= eval(input("would you like to retry? press 1 for retry : "))
        if r== 1:
            r = True
        else :
            r =False
print("thanks for playing the game")

In [1]:
print("Hello")

Hello

In [6]:
e = eval(input("Enter marks between 100 and 50"))

if e >= 80 and e<90:
    print("A+")
elif e>90:
    print("Golden A+")
elif e<80 and e>=70:
    print("A")
elif e<70 and e>=50:
    print("quite Good")
else :
    print("Fail")

Enter marks between 100 and 5082
A+

#### 4.5 Exercise

In [3]:
# Exercise 1

i = eval(input("Enter a length in centimeters : "))
inch = 0
if i <0 :
    print("Please input an positive length and try again.")
else :
    inch = i/2.54
print(inch)

Enter a length in centimeters : 5
1.968503937007874

In [8]:
# Exercise 2

temp =eval(input("Enter the teperature : "))
f = input("Enter the meter (fahrenheit or celcius) : ")
f.lower()
n=0

if f == 'celcius':
    n = ((9/5)*temp)+32
else :
    n = (temp-32)*5/9
print(n)

Enter the teperature : 280
Enter the meter (fahrenheit or celcius) : celcius
536.0

In [ ]:
# Exercise 3

In [ ]:
# Exercise 4

In [ ]:
# Exercise 5

In [ ]:
# Exercise 6

In [ ]:
# Exercise 7

In [ ]:
# Exercise 8

In [ ]:
# Exercise 9

In [ ]:
# Exercise 10

In [ ]:
# Exercise 11

In [ ]:
# Exercise 12

In [ ]:
# Exercise 13

### Chapter 5 Miscellaneous Topic

In [10]:
count=0
c=0

for i in range(5):
    n = eval(input("Enter the number : "))
    if n>10:
        count=count+1
    else :
        c+=1
print("There are ",count,"numbers greater than 10")
print("There are ",c,"numbers lower than 10")

Enter the number : 55
Enter the number : 2
Enter the number : 66
Enter the number : 99
Enter the number : 101
There are  4 numbers greater than 10
There are  1 numbers lower than 10

In [15]:
c=0
x=0

for i in range(1,101):
    if (i**2)%10==4:
        
        c+=1
    else :
        x+=1
        
        
print("there are ",c,"numbers which is modulus by 10 and end in 4")
print("there are ",x,"numbers which is not ending in 4")

there are  20 numbers which is modulus by 10 and end in 4
there are  80 numbers which is not ending in 4

In [18]:
s=0
m=eval(input("How many numbers would you like to take? ") )
for i in range(m):
    n = eval(input("Enter numbers for n : "))
    s+=n
print("Average is : ",s/m)

How many numbers would you like to take? 5
Enter numbers for n : 1
Enter numbers for n : 2
Enter numbers for n : 3
Enter numbers for n : 4
Enter numbers for n : 5
Average is :  3.0

In [22]:
n =eval(input("Enter a number : "))

flag =0
for i in range(2,n):
    if n%i==0:
        flag=1
if flag==1:
    print("not prime : ",n)
    
else :
    print("prime number : ",n)

Enter a number : 6
not prime :  6

In [9]:
l = eval(input("Enter a positive number : "))
n= eval(input("How many numbers would you like to take?"))

for i in range(n):
    n = eval(input("Enter numbers : "))
    if n>l:
        l=n
print("Largest number is : ",l)

Enter a positive number : 50
How many numbers would you like to take?5
Enter numbers : 10
Enter numbers : 11
Enter numbers : 99
Enter numbers : 100
Enter numbers : 5
Largest number is :  100

In [8]:
print("Hello world")

Hello world

In [12]:
""" print('This line and the next are inside a comment.') print('These lines will not get executed.') """ 
print('This line is not in a comment and it will be executed.')

This line is not in a comment and it will be executed.

In [6]:
n,m = eval(input("Enter two numbers : "))
print(n,m,sep=" | ")

Enter two numbers : 5,500
5 | 500

In [10]:
flag = 0 
num = eval(input('Enter number: ')) 
for i in range(2,num): 
    if num%i==0:
        flag = 1 
print(i, flag)

Enter number: 5
4 0

In [13]:
from random import randint
n = randint(0,10)

for i in range(n):
    print("Hello",end=". ")

Hello. Hello. Hello. Hello. Hello. Hello. Hello. Hello.

In [18]:
n= randint(1,10)

for i in range(n):
    r = randint(1,10)
    print("hello"*r)

hellohellohellohellohellohello
hellohellohellohellohellohellohellohello
hellohellohello
hellohellohello
hellohellohello
hellohellohellohellohellohellohello
hellohellohellohello
hellohellohellohellohellohello

In [21]:
c =0

for i in range(200):
    if i%12==0:
        c+=1
print("Number of multiples of 12 is : ",c)

Number of multiples of 12 is :  17

#### 5.9 Exercises

In [ ]:
# Exercise 1

In [ ]:
# Exercise 2

In [ ]:
# Exercise 3

In [ ]:
# Exercise 4

In [ ]:
# Exercise 5

In [ ]:
# Exercise 6

In [ ]:
# Exercise 7

In [ ]:
# Exercise 8

In [ ]:
# Exercise 9

In [ ]:
# Exercise 10

In [ ]:
# Exercise 11

In [ ]:
# Exercise 12

In [ ]:
# Exercise 13

In [ ]:
# Exercise 14

In [ ]:
# Exercise 15

### Chapter 6 - Strings

In [25]:
s ="Hello"
n="how are you doing"
g="""jsdhfkasf
askjdfhasf
sfjkf"""
print(s)
print(n)
print()
print(g)

Hello
how are you doing

jsdhfkasf
askjdfhasf
sfjkf

In [28]:
print(s.upper())
print(s)

HELLO
Hello

In [31]:
print(s.lower())

hello

In [32]:
len("jsdhgkasdhfkad")

14

In [33]:
len(g)

26

In [36]:
for i in range(30):
    print("$",end=" ")

$ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $

In [2]:
s=""
for i in range(5):
    t=input("Enter any letter :")
    if t =="a" or t=="i" or t=="e" or t=="o" or t=="u":
        s=s+t
for i in s :
    print(i,end=" ")

Enter any letter :o
Enter any letter :p
Enter any letter :j
Enter any letter :i
Enter any letter :e
o i e

In [12]:
s="helloworld"

for j in s[:len(s)-1]:
    print(j,end="-")
print(s[-1])

h-e-l-l-o-w-o-r-l-d

In [13]:
s="sdjkaf"

if "a" in s:
    print("yes a in the string")

yes a in the string

In [16]:
if ';' not in s:
    print('Your string does not contain any semicolons.')

Your string does not contain any semicolons.

In [57]:
s = "jsakdjfiu  bejbrt"

print(s[2:10:2])

adfu

In [19]:
print(s[::-1])

trbjebuifjdkasj

In [21]:
for i in range(len(s)):
    print(i,s[i])

0 j
1 s
2 a
3 k
4 d
5 j
6 f
7 i
8 u
9 b
10 e
11 j
12 b
13 r
14 t

In [23]:
for i in s:
    print(i,end=" ")

j s a k d j f i u b e j b r t

In [24]:
s.isalpha()

True

In [39]:
s.replace('j','z')

'zsakdzfiubezbrt'

In [40]:
s.lower()

'jsakdjfiubejbrt'

In [41]:
s.upper()

'JSAKDJFIUBEJBRT'

In [42]:
s.count("j")

3

In [55]:
s.index('j')

0

In [58]:
s.count(' ')

2

In [59]:
s = input("Enter strings : ")
if not s.isalpha():
    print('Your string contains non letter')
if s.isalpha():
    print("You string contains letter")

Enter strings : nnm
You string contains letter

In [66]:
filename= r'c:abs\sh\sjfb\file.py'
print(filename)

c:abs\sh\sjfb\file.py

In [70]:
h= 'hello\tworld'
print(h)

hello	world

In [78]:
# Example 1 
print('\n'*2)

In [73]:
# example 2 

s = input("enter a string : ")

for i in range(len(s)):
    if s[i] == "a":
        print(i, end =" ")

enter a string : abul kalam jamal
0 6 8 12 14

In [81]:
s = input("Enter any string word : ")
d =""

for i in s:
    d+=i*2
print(d)

Enter any string word : word
wwoorrdd

In [83]:
# Example 3

s = input("enter any name : ")
x=""

for i in s:
    x+=i
    print(x,end=" ")

enter any name : Elvis
E El Elv Elvi Elvis

In [87]:
# Example 4

s = input ("enter any name : ")
for i in range(len(s)):
    print(s[:i+1],end= " ")

enter any name : nick
n ni nic nick

In [2]:
# Example 5

s = input("Enter any word : ")

s= s.lower()

for c in "!@#$%^&*()_-+=":
    s= s.replace(c,"")
print(s)

Enter any word : @HelloNick_Zussm@n
hellonickzussmn

In [3]:
# Example 6
s = input("Enter your decimal number : ")
print(s[s.index('.'):])

Enter your decimal number : 3.4456
.4456

In [6]:
from math import floor

s = eval(input("Enter your decimal number : "))

print(round(s-floor(s),2))

Enter your decimal number : 99.7654
0.77

In [16]:
# Example 7

alphabet= 'avwbcdelpqrsfghikjtumnoxyz'
key='xznlwebgjhqdyvtkfuompciasr'

s= input("Enter your secret message : ")

s=s.lower()

for i in s:
    if i.isalpha():
        print(key[alphabet.index(i)],end=" ")
    else :
        print(i,end=" ")

Enter your secret message : nice
c k w b

In [17]:
alphabet = 'abcdefghijklmnopqrstuvwxyz'
key = 'xznlwebgjhqdyvtkfuompciasr'
secret_message = input('Enter your message: ')
secret_message = secret_message.lower()
for c in secret_message:
    if c.isalpha():
        print(key[alphabet.index(c)],end='')
    else:
        print(c, end='')

Enter your message: nice
vjnw

In [ ]:
# Exercise 1

In [ ]:
# Exercise 2

In [ ]:
# Exercise 3

In [ ]:
# Exercise 4

In [ ]:
# Exercise 5

In [ ]:
# Exercise 6

In [ ]:
# Exercise 7

In [ ]:
# Exercise 8

In [ ]:
# Exercise 9

In [ ]:
# Exercise 10

In [ ]:
# Exercise 11

In [ ]:
# Exercise 12

In [ ]:
# Exercise 13

In [ ]:
# Exercise 14

In [ ]:
# Exercise 15

In [ ]:
# Exercise 16

In [ ]:
# Exercise 17

In [ ]:
# Exercise 18

In [ ]:
# Exercise 19

In [ ]:
# Exercise 20

In [ ]:
# Exercise 21

In [ ]:
# Exercise 22

In [ ]:
# Exercise 23

In [ ]:
# Exercise 24

In [ ]:
# Exercise 25

### List Basic

In [18]:
l = eval(input("Enter the elements of list : "))

print(l[2])

Enter the elements of list : 1,2,3,4,5,6,7
3

In [23]:
l =[1,2,3,4,5,6,8,9.7,'n',[1,2,3]]
print(l)

[1, 2, 3, 4, 5, 6, 8, 9.7, 'n', [1, 2, 3]]

In [24]:
len(l)

10

In [25]:
if 2 in l:
    print("True")

True

In [26]:
if 99 not in l:
    print("False")

False

In [27]:
[2,3]*3

[2, 3, 2, 3, 2, 3]

In [28]:
[2,3,4]*3

[2, 3, 4, 2, 3, 4, 2, 3, 4]

In [29]:
[0]*10

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [32]:
l=[1,2,3,4,5,6]
for i in range(len(l)):
    print(l[i],end=" ")

1 2 3 4 5 6

In [33]:
[1,2,3]+[4,5,6]

[1, 2, 3, 4, 5, 6]

In [38]:
l =[0,1,2,3,4,5,6,7,8,9]
len(l)

10

In [40]:
sum(l)

45

In [39]:
min(l)

0

In [41]:
max(l)

9

In [44]:
a= sum(l)/len(l)
print(a)

4.5

In [46]:
l.append(99)
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, '66', 99]

In [56]:
l.count('66')

1

In [69]:
l.index('66')

1

In [80]:
l = [66,44,67,334,29,98]
print(l)
l.reverse()
print(l)

[66, 44, 67, 334, 29, 98]
[98, 29, 334, 67, 44, 66]

In [81]:
l.remove(44)
print(l)

[98, 29, 334, 67, 66]

In [84]:
l=l*2
print(l)

[98, 29, 334, 67, 66, 98, 29, 334, 67, 98, 29, 334, 67, 66, 98, 29, 334, 98, 29, 334, 67, 66, 98, 29, 334, 67, 98, 29, 334, 67, 66, 98, 29]

In [90]:
l.pop(12) # here 12 is the index

29

In [91]:
print(l)

[98, 29, 334, 67, 66, 98, 29, 334, 67, 98, 29, 334, 334, 98, 29, 334, 67, 66, 98, 29, 334, 67, 98, 29, 334, 67, 66, 98]

In [94]:
l.pop()

67

In [95]:
print(l)

[98, 29, 334, 67, 66, 98, 29, 334, 67, 98, 29, 334, 334, 98, 29, 334, 67, 66, 98, 29, 334, 67, 98, 29, 334]

In [96]:
al =[1,2,3,4,5,67,8,9]
print(al)

[1, 2, 3, 4, 5, 67, 8, 9]

In [97]:
al.sort()
print(al)

[1, 2, 3, 4, 5, 8, 9, 67]

In [102]:
k=[4,3,6,73,2,44]
print(k)
k.sort()
print(k)

[4, 3, 6, 73, 2, 44]
[2, 3, 4, 6, 44, 73]

In [106]:
k.insert(2,22)
print(k)

[2, 3, 22, 22, 22, 22, 4, 6, 44, 73]

22

In [109]:
k.pop(2)

22

In [110]:
print(k)

[2, 3, 22, 4, 6, 44, 73]

In [111]:
a=k
print(a)

[2, 3, 22, 4, 6, 44, 73]

In [112]:
b=k[:]
print(b)

[2, 3, 22, 4, 6, 44, 73]

In [113]:
print(b)
del b[:2]

print(b)

[2, 3, 22, 4, 6, 44, 73]
[22, 4, 6, 44, 73]

In [114]:
del b

In [120]:
# Example 1

from random import randint
l=[]

for i in range(10):
    l.append(randint(1,10))
    
print(l)

[9, 10, 2, 6, 10, 10, 8, 7, 2, 8]

In [123]:
# Example 2

l=[1,2,3,4,5,6,7,8]

[i**2 for i in l]

[1, 4, 9, 16, 25, 36, 49, 64]

In [126]:
# Example 3

l = eval(input("Enter list elements : "))
c=0

for i in l:
    if i>50:
        c=c+1
print(c)

Enter list elements : 22,55,66,77,88,123,32
5

In [128]:
# Example 4
l =[1,2,3,4,55,65,7,8,9,10,11,1,3,14,55,1,7,18,19,2]

f=[]

for i in range(1,21):
    f.append(l.count(i))
    
print(f)

[3, 2, 2, 1, 0, 0, 2, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0]

In [131]:
# Example 5

l =[111,222,3,44,5,67,88]

l.sort()
print(l)
print("Minimun two numbers are : ",l[0],l[1])
print("Maximum two numbers are : ",l[-2],l[-1])

[3, 5, 44, 67, 88, 111, 222]
Minimun two numbers are :  3 5
Maximum two numbers are :  111 222

In [133]:

num_right = 0
# Question 1 
print('What is the capital of France?', end=' ') 
guess = input() 
if guess.lower()=='paris':
    print('Correct!') 
    num_right+=1 
else: 
    print('Wrong. The answer is Paris.') 
    print('You have', num_right, 'out of 1 right')
#Question 2 
print('Which state has only one neighbor?', end=' ') 
guess = input() 
if guess.lower()=='maine': 
    print('Correct!') 
    num_right+=1 
else: 
    print('Wrong. The answer is Maine.') 
    print('You have', num_right, 'out of 2 right,')

What is the capital of France? paris
Correct!
Which state has only one neighbor? france
Wrong. The answer is Maine.
You have 1 out of 2 right,

In [136]:
questions = ['What is the capital of France?', 
             'Which state has only one neighbor?']
answers = ['Paris','Maine']
num_right = 0 
for i in range(len(questions)): 
    guess = input(questions[i]) 
    if guess.lower()==answers[i].lower(): 
        print('Correct') 
        num_right=num_right+1 
    else: 
        print('Wrong. The answer is', answers[i]) 
        print('You have', num_right, 'out of', i, 'right.')

What is the capital of France?id
Wrong. The answer is Paris
You have 0 out of 0 right.
Which state has only one neighbor?ny
Wrong. The answer is Maine
You have 0 out of 1 right.

#### 7.7 Exercises

In [138]:
15 exercises here

SyntaxError: invalid syntax (<ipython-input-138-da483dff0f31>, line 1)

### Chapter 8 : More with list

#### 8.1 Lists and the random module

In [145]:
# Example 1

from random import choice

names =['joe','bob','pop','adam','noah']
cp= choice(names)
print(cp)

joe

In [150]:
# Example 2

from random import sample

names= ['joe','bob','pop','adam','noah']
sp = sample(names,3)
print(sp)

['pop', 'joe', 'adam']

In [152]:
s =' sjkdfksfugsdbjgbsdng.,sdgbsdgd;gsdgn,bgbmd,g'
for i in range(20):
    p = choice(s)
    print(p,end=" ")

g s d f , d s d . g , ; d s f d , f g n

In [161]:
from random import shuffle
player = ['joe','bob','pop','adam','noah']
shuffle(player)

for i in player:
    print(i, ": this is your turn")

pop : this is your turn
noah : this is your turn
adam : this is your turn
bob : this is your turn
joe : this is your turn

In [165]:
player = ['joe','bob','pop','adam','noah',"nick"]
f=[]
shuffle(player)

for i in range(0,len(player),2):
    f.append(player[i])
    
print(f)

['bob', 'adam', 'nick']

In [167]:
s =' hi there i am doung great inside the house villa and getting my work done just in time '

print(s.split())

['hi', 'there', 'i', 'am', 'doung', 'great', 'inside', 'the', 'house', 'villa', 'and', 'getting', 'my', 'work', 'done', 'just', 'in', 'time']

In [169]:
from string import punctuation

for c in punctuation:
    print(c,end=' ')

! " # $ % & ' ( ) * + , - . / : ; < = > ? @ [ \ ] ^ _ ` { | } ~

In [173]:
from string import punctuation
s =' hi there i am doung great inside the house villa and getting my work done just in time '

for c in punctuation:
    s.replace(c,"")
print(s)

 hi there i am doung great inside the house villa and getting my work done just in time

In [183]:
from string import punctuation

s= input("enter any string or lines : ")

for c in punctuation:
    s = s.replace(c,"")
s.lower()
p = s.split()
print(p)

enter any string or lines : what's the hell is going one man? i am realy confused and tensed ! it's really angry to me and disgusting -_-
['whats', 'the', 'hell', 'is', 'going', 'one', 'man', 'i', 'am', 'realy', 'confused', 'and', 'tensed', 'its', 'really', 'angry', 'to', 'me', 'and', 'disgusting']

In [188]:
w = input("enter any word : ")

print(w, "appears in the list ",p.count(w)," times")

enter any word : and
and appears in the list  2  times

In [191]:
s = '123-465-778-887'
print(s.split("-"))

['123', '465', '778', '887']

In [198]:
player = ['joe','bob','pop','adam','noah',"nick"]

a="|".join(player)
print(a)

joe|bob|pop|adam|noah|nick

In [205]:
l =list('Hello')
print(l)

['H', 'e', 'l', 'l', 'o']

In [201]:
from random import shuffle
word = input('Enter a word: ')
letter_list = list(word) 
shuffle(letter_list) 
print(letter_list)
anagram = ''.join(letter_list)
print(anagram)

Enter a word: newword
['d', 'e', 'r', 'o', 'w', 'n', 'w']
derownw

In [206]:
[i for i in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [212]:
[(x,y) for x in range(5) for y in range(5) if x!=y]

[(0, 1),
 (0, 2),
 (0, 3),
 (0, 4),
 (1, 0),
 (1, 2),
 (1, 3),
 (1, 4),
 (2, 0),
 (2, 1),
 (2, 3),
 (2, 4),
 (3, 0),
 (3, 1),
 (3, 2),
 (3, 4),
 (4, 0),
 (4, 1),
 (4, 2),
 (4, 3)]

In [214]:
from pprint import pprint

l =['d', 'e', 'r', 'o', 'w', 'n', 'w']
pprint(l)

['d', 'e', 'r', 'o', 'w', 'n', 'w']

In [1]:
def func1(n):
    print("I am func1  with n : ",n)
    if n>0:
        func1(n-1)
    print("returned in function where n :",n)
func1(3)

I am func1  with n :  3
I am func1  with n :  2
I am func1  with n :  1
I am func1  with n :  0
returned in function where n : 0
returned in function where n : 1
returned in function where n : 2
returned in function where n : 3