In [1]:
print("Hello there")

Hello there

In [5]:
tax = 12.5/100
price= 100
price*tax

12.5

In [3]:
price+_

111.5

In [4]:
round(_,2)

111.5

In [6]:
"hello there"

'hello there'

In [1]:
"what's up?? he said - \" he is not going to any kind of ceremony anymore\" "

'what\'s up?? he said - " he is not going to any kind of ceremony anymore" '

In [2]:
'isn\'t is  a  good decision?'

"isn't is  a  good decision?"

In [4]:
print(r'C:dir\files\downloads\newfile\cs50.org')

C:dir\files\downloads\newfile\cs50.org

In [20]:
print("""\
\
\
hello there i am doing great. 
can you tell me what to do next?
i am really confused nowadays :(

""")

hello there i am doing great.
can you tell me what to do next?
i am really confused nowadays :(

In [22]:
4*'im'+'um'

'imimimimum'

In [23]:
'py'+'thon'

'python'

In [26]:
print('Hello there i am talking about a funny issue. please leave it dear btw.'
     
     'and again no need to think about it.'
     'its fishy and clumsy hehe')

Hello there i am talking about a funny issue. please leave it dear btw.and again no need to think about it.its fishy and clumsy hehe

In [28]:
prefix ='py'
prefix+'thon'

'python'

In [38]:
word ='python'
word[-3]

'h'

In [39]:
word[2:-2]

'th'

In [40]:
word[:42]

'python'

In [41]:
word[42:]

''

In [42]:
'J'+word[1:]

'Jython'

In [43]:
s='Jsfhkajsfbhdfg oanfdnakjh nfbaskjbfk'
len(s)

36

In [44]:
square=['name','age','hfakjf','aoppp','subject']
print(square)

['name', 'age', 'hfakjf', 'aoppp', 'subject']

In [47]:
len(square)

5

In [49]:
#fibonacci series

a,b=0,2

while a<100:
    print(a,end=" ")
    a,b=b,a+b

0 2 2 4 6 10 16 26 42 68

In [55]:
#factorial numbers

a=int(input("Enter any number to have the factorial of it : "))
fact=1
while a>0:
    fact = fact*a
    a=a-1
print('factorial is :',fact)

Enter any number to have the factorial of it : 10
factorial is : 3628800

In [60]:
i =256*256
print("The value of i is : ",i)

The value of i is :  65536

In [63]:
a=int(input("Please enter any number between 0 to 10 : "))
if a<0:
    print("This is less than zero , so it's not valid")
    
elif a>10:
    print("This is less than zero , so it's not valid")

else :
    print("You have entered a valid number which is : ",a)

Please enter any number between 0 to 10 : -2
This is less than zero , so it's not valid

In [68]:
w=["name",'ajhf','ajf','asjhfdk']
for  i in w[:]:
    print(i,end=" ")

name ajhf ajf asjhfdk

In [70]:
for i in range(len(w)):
    print(i,w[i])

0 name
1 ajhf
2 ajf
3 asjhfdk

In [71]:
print(range(10))

range(0, 10)

In [72]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [74]:
for n in range(2,10):
    for x in range(2,n):
        if n%x == 0:
            print(n,' equals',x,'*',n//x)
            break
    else :
        print(n,' is a prime number')

2  is a prime number
3  is a prime number
4  equals 2 * 2
5  is a prime number
6  equals 2 * 3
7  is a prime number
8  equals 2 * 4
9  equals 3 * 3

In [79]:
even =[]
odd =[]
for i in range(2,30):
    if i%2==0 :
        print('Found a even number : ',i)
        even.append(i)
    else :
        print("odd number : ",i)
        odd.append(i)
        
print("even is : ",even)
print("Odd is : ",odd)

Found a even number :  2
odd number :  3
Found a even number :  4
odd number :  5
Found a even number :  6
odd number :  7
Found a even number :  8
odd number :  9
Found a even number :  10
odd number :  11
Found a even number :  12
odd number :  13
Found a even number :  14
odd number :  15
Found a even number :  16
odd number :  17
Found a even number :  18
odd number :  19
Found a even number :  20
odd number :  21
Found a even number :  22
odd number :  23
Found a even number :  24
odd number :  25
Found a even number :  26
odd number :  27
Found a even number :  28
odd number :  29
even is :  [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]
Odd is :  [3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [90]:

def okk(prompt, retry =5, reminder = "try again later !"):
    while True:
        ok = input(prompt)
        if ok in ('ye','yes','y'):
            return True
        if ok in ('n','nope','na','no'):
            return False
        retry = retry - 1
        if retry <= 0:
            print("your chance is over")
            
        else :
            raise ValueError('Invalid user response')
        print(reminder)
        
okk('enter y or no')

enter y or noy

True

In [91]:
def ask_ok(prompt, retries=4, reminder='Please try again!'):
    while True:
        ok = input(prompt)
        if ok in ('y', 'ye', 'yes'):
            return True
        if ok in ('n', 'no', 'nop', 'nope'):
            return False
        retries = retries - 1
        if retries < 0:
            raise ValueError('invalid user response')
        print(reminder)
ask_ok("y or n")

y or ny

True

In [96]:
a=6

def n(a,l=[]):
    l.append(a)
    return l

n(a)
a=5
n(a)

[6, 5]

In [105]:
a=5

def n(arg=a):
    print(a)

a=10
n()
a=12
n(a)

10
12

In [3]:
dict={'name':'nam','age':'22'}
print(dict)

{'name': 'nam', 'age': '22'}

In [10]:
a=[3,10]

list(range(*a)) # * is very important here

[3, 4, 5, 6, 7, 8, 9]

In [17]:
pairs = [(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]
pairs.sort(key=lambda pair : pair[1])
print(pairs)

[(4, 'four'), (1, 'one'), (3, 'three'), (2, 'two')]

In [18]:
list=[1,2,3,4,5,6,7,8]
print(list)

[1, 2, 3, 4, 5, 6, 7, 8]

In [20]:
list.append(99)
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 99, 99]

In [25]:
list.extend("y")
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 99, 99, 'n', 'a', 'y', 'e', 'm', 'n', 'a', 'y', 'y']

In [29]:
list.insert(3,"mm")
print(list)

[1, 2, 3, 'mm', 'mm', 'mm', 'mm', 4, 5, 6, 7, 8, 99, 99, 'n', 'a', 'y', 'e', 'm', 'n', 'a', 'y', 'y']

In [32]:
list.remove("mm")
print(list)

[1, 2, 3, 'mm', 4, 5, 6, 7, 8, 99, 99, 'n', 'a', 'y', 'e', 'm', 'n', 'a', 'y', 'y']

In [38]:
list.pop()
print(list)

[1, 2, 3, 'mm', 4, 5, 6, 7, 8, 99, 99, 'n', 'a', 'y']

In [39]:
list.clear()
print(list)

[]

In [44]:
list=[1, 2, 3, 4, 5, 6, 7, 8, 99, 99, 'n', 'a', 'y', 'e', 'm', 'n', 'a', 'y', 'y']
list.count('y')

3

In [49]:
list.reverse()
print(list)

['y', 'y', 'a', 'n', 'm', 'e', 'y', 'a', 'n', 99, 99, 8, 7, 6, 5, 4, 3, 2, 1]

In [50]:
a=list.copy()
print(a)

['y', 'y', 'a', 'n', 'm', 'e', 'y', 'a', 'n', 99, 99, 8, 7, 6, 5, 4, 3, 2, 1]

In [54]:
list.reverse()
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 99, 99, 'n', 'a', 'y', 'e', 'm', 'n', 'a', 'y', 'y']

In [55]:
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 99, 99, 'n', 'a', 'y', 'e', 'm', 'n', 'a', 'y', 'y']

In [60]:
list=[1,34,5,6,78,89,88]
print(list)
list.insert(2,'nick sessman')
print(list)

[1, 34, 5, 6, 78, 89, 88]
[1, 34, 'nick sessman', 5, 6, 78, 89, 88]

In [62]:
list.pop(5)

78

In [63]:
print(list)

[1, 34, 'nick sessman', 5, 6, 89, 88]

In [73]:
list.index(88)

6

In [80]:
list=['y', 'y', 'a', 'n', 'm', 'e', 'y', 'a', 'n']

list.sort()
print(list)

['a', 'a', 'e', 'm', 'n', 'n', 'y', 'y', 'y']

In [85]:
l=[1, 34, 5, 6, 78, 89, 88]
l.sort()
print(l)

[1, 5, 6, 34, 78, 88, 89]

In [90]:
from collections import deque 
queue = deque(["eric",'adam','john','rick','peter'])
queue.append('obama')
print(queue)
queue.popleft()
print(queue)

deque(['eric', 'adam', 'john', 'rick', 'peter', 'obama'])
deque(['adam', 'john', 'rick', 'peter', 'obama'])

In [96]:
squares = [x**2 for x in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [104]:
[(x,y) for x in [1,2,3,4,5] for y in [6,5,4] if x!=y]

[(1, 6),
 (1, 5),
 (1, 4),
 (2, 6),
 (2, 5),
 (2, 4),
 (3, 6),
 (3, 5),
 (3, 4),
 (4, 6),
 (4, 5),
 (5, 6),
 (5, 4)]

In [109]:
from math import pi

[str(round(pi,i)) for i in range(6)]

['3.0', '3.1', '3.14', '3.142', '3.1416', '3.14159']

In [114]:
matrix = [
   [1, 2, 3, 4],     [5, 6, 7, 8],
[9, 10, 11, 12],
 ]

[[row[i] for row in matrix] for i in range(4)]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [118]:
l=[1,2,3,4,5,6,7,88,9]
print(l)
del l[0]
print(l)

[1, 2, 3, 4, 5, 6, 7, 88, 9]
[2, 3, 4, 5, 6, 7, 88, 9]

In [122]:
v = ([1, 2, 3], [3, 2, 1])
print(v)

([1, 2, 3], [3, 2, 1])
([1, 2, 3], [3, 2, 1])

In [128]:
s="atrinfdsfjb", #trailing comma is the difference between tuple
print(len(s))
print(s)

1
('atrinfdsfjb',)

In [137]:
t='s','d','f','g'
print(t)

('s', 'd', 'f', 'g')

In [138]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(basket)

{'apple', 'banana', 'pear', 'orange'}

In [139]:
s=(1,2,3,4,5,4,3)
print(s)

(1, 2, 3, 4, 5, 4, 3)

In [148]:
b=set("ahsjfdk")
print(b)

{'f', 'j', 'd', 'a', 'h', 'k', 's'}

In [149]:
a={3,4,5,6,7}
print(a)

{3, 4, 5, 6, 7}

In [166]:
a=sorted(set('namd',))
print(a)

['a', 'd', 'm', 'n']

In [165]:
#set comprehension just like list comprehension

s={x**2 for x in range(10)}
print(sorted(s))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [6]:
a=dict((('naem','nayem'),('age',22),('op','programmer')))
print(a)

{'naem': 'nayem', 'age': 22, 'op': 'programmer'}

In [1]:
dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [9]:
{x: x**2 for x in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [10]:
>>> dict(sape=4139, guido=4127, jack=4098)

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [12]:
>>> for i, v in enumerate(['tic', 'tac', 'toe']):
    print(i,v, end=" | ")

0 tic | 1 tac | 2 toe |

In [15]:
questions = ['name', 'quest', 'favorite color']
answers = ['lancelot', 'the holy grail', 'blue']
for q, a in zip(questions, answers):
    print("What is your {}? it is {}".format(q,a))

What is your name? it is lancelot
What is your quest? it is the holy grail
What is your favorite color? it is blue

In [18]:
print("my name is %s and i am {} years old and my fav number is : {} {}".format('nayem',22,99.99))

my name is %s and i am nayem years old and my fav number is : 22 99.99

In [6]:
for i in reversed(range(1,100,5)):
    print(i,end=" ")

96 91 86 81 76 71 66 61 56 51 46 41 36 31 26 21 16 11 6 1

In [20]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for f in sorted(set(basket)):
    print(f)

apple
banana
orange
pear

In [1]:
import math
raw_data = [56.2, float('NaN'), 51.7, 55.3, 52.5, float('NaN'), 47.8]
filtered_data = []
for value in raw_data:
    if not math.isnan(value):
        filtered_data.append(value)

print(filtered_data)

[56.2, 51.7, 55.3, 52.5, 47.8]

In [13]:
r= [56.2,float("NaN"), 51.7, 55.3, 52.5, float('NaN'), 47.8]
print(r)

[56.2, nan, 51.7, 55.3, 52.5, nan, 47.8]

In [18]:
type(float('nan'))

float

In [22]:
a=float('Nan')
print(a)

nan

In [5]:
s ,s1,s2 = 'Novelman','Novel',"nayemnovel"
print(s,s1,s2)

Novelman Novel nayemnovel

In [6]:
nn = s or s1 or s2
print(nn)

Novelman

In [8]:
nn = s1 and s2 and s
print(nn)

Novelman

In [15]:
(1, 2, 3, 4) < (1, 2, 4)

True

In [12]:
'ABC' < 'C' < 'Pascal' < 'Python'
(1, 2, 3, 4)           < (1, 2, 4)
(1, 2)                 < (1, 2, -1)
(1, 2, 3)             == (1.0, 2.0, 3.0)
(1, 2, ('aa', 'ab'))   < (1, 2, ('abc', 'a'), 4)

True

In [19]:
(1, 2, 883)  < (1, 2, 66)

False

In [16]:
'ABC' < 'C' < 'Pascal' < 'Python'

True

In [24]:
#input and output
year =2015
event ="referendum"
print(f"results of the {year} is  {event}")

results of the 2015 is  referendum

In [49]:
yes =7437
no=3582
p = yes/(yes+no)
print("the percentage is {:2.4} where yes votes are : {:5}".format(p,yes))

the percentage is 0.6749 where yes votes are :  7437

In [55]:
s="hello world"
print(s)
str(s)

hello world

'hello world'

In [54]:
repr(s)

"'hello world'"

In [56]:
str(2/9)

'0.2222222222222222'

In [57]:
repr(2/9)

'0.2222222222222222'

In [8]:
x = 10 * 3.25
y = 200 * 200
s = 'The value of x is '+ repr(x) +' and y is ' + repr(y) 
print(s)

The value of x is 32.5 and y is 40000

In [13]:
import math
print(f'The value of pi is approximately {math.pi:.10f}.')

The value of pi is approximately 3.1415926536.

Other modifiers can be used to convert the value before it is formatted. '!a' applies ascii(), '!s' applies str(), and '!r' applies repr():

In [16]:
animals = 'eels'
>>> print(f'My hovercraft is full of {animals}.')
>>> print(f'My hovercraft is full of {animals!r}.')

My hovercraft is full of eels.
My hovercraft is full of 'eels'.

In [25]:
for x in range(1,10):
    print("{0:4d} {1:5d} {2:20d}".format(x, x*x, x*x*x))

   1     1                    1
   2     4                    8
   3     9                   27
   4    16                   64
   5    25                  125
   6    36                  216
   7    49                  343
   8    64                  512
   9    81                  729

In [29]:
for x in range(1, 11):
    print(repr(x).rjust(2), repr(x*x).rjust(3))

 1   1
 2   4
 3   9
 4  16
 5  25
 6  36
 7  49
 8  64
 9  81
10 100

In [31]:
'12'.zfill(5)

'00012'

In [32]:
'-3.14'.zfill(7)

'-003.14'

In [30]:
>>> '3.14159265359'.zfill(5)

'3.14159265359'

In [33]:
import math
>>> print('The value of pi is approximately %5.3f.' % math.pi)

The value of pi is approximately 3.142.

In [ ]:
while True:
    try:
        a=str(input("Enter any number : "))
        print(a)
        break
    except ValueError:
        print("Opps ! that was not a valid number....try again ! ")

In [16]:
m = [[1,2,3,4],[2,3,4]]
print(m)
print(m[1][:2])
print(m[1][0])
m.index([2,3,4])
m.reverse()
print(m)
m.sort()
print(m)

[[1, 2, 3, 4], [2, 3, 4]]
[2, 3]
2
[[2, 3, 4], [1, 2, 3, 4]]
[[1, 2, 3, 4], [2, 3, 4]]

In [26]:
s ="hello i am neyam and you?"
print(x)
print(s.count('e'))
print(s.rstrip())
s.split()

hello i am neyam and you?
2
hello i am neyam and you?

['hello', 'i', 'am', 'neyam', 'and', 'you?']

In [22]:
num=[1,2,3,4,5,4,3]
print(num.count(3))

2

In [30]:
num=[4,32,22,3,44,5,6]
del(num[:4])
print(num)

[44, 5, 6]

In [35]:
import numpy as np
n = [1,2,4,5,6,7,78]
nd = np.array(n)
print(nd)
print(nd.dtype)
print(nd.shape)
ns = np.array((n,n))
print(ns)

[ 1  2  4  5  6  7 78]
int32
(7,)
[[ 1  2  4  5  6  7 78]
 [ 1  2  4  5  6  7 78]]

In [38]:
num = np.array([[1,2,3,4],[4,5,6,7]])
print(num)

[[1 2 3 4]
 [4 5 6 7]]

In [43]:
num[:1]

array([[1, 2, 3, 4]])

In [46]:
num[: , 0]

array([1, 4])

In [47]:
num>5

array([[False, False, False, False],
       [False, False,  True,  True]])

In [48]:
num*2

array([[ 2,  4,  6,  8],
       [ 8, 10, 12, 14]])

In [51]:
num+np.array([1,2,3,55])

array([[ 2,  4,  6, 59],
       [ 5,  7,  9, 62]])

In [60]:
import numpy as np
nn =np.array([[1,2,3,4],[3,4,56,6]])
nn>5

array([[False, False, False, False],
       [False, False,  True,  True]])

In [69]:
print(nn)
nn.shape

[[ 1  2  3  4]
 [ 3  4 56  6]]

(2, 4)

In [66]:
np.append([2,3,4,44],[3,4,5,6])

array([ 2,  3,  4, 44,  3,  4,  5,  6])

In [70]:
print(nn)

[[ 1  2  3  4]
 [ 3  4 56  6]]

In [76]:
np.insert(nn,8,[5,44,55])

array([ 1,  2,  3,  4,  3,  4, 56,  6,  5, 44, 55])

In [78]:
s = np.array([1,2,33,4,5])
np.mean(s)

9.0

In [80]:
np.median(s) #মধ্যমা = median

4.0