In [1]:
print("HEllo world")

HEllo world

In [3]:
msg= "Hello there"
print("This is message",msg)

This is message Hello there

In [4]:
msg= "Hello there"
print("This is message"+msg)

This is messageHello there

In [21]:
##This is all about python function examples

a = 10
b = -22.33
l = [1,33,44,555,600]
t = (2,300,40,55)
s = 'sring'
su = 'STRING'
print("Upper of string is :",s.upper())
print("Lower of string is :",su.lower())
print("Maximum is :",max(l))
print("Minimum is :",min(l))
print("Float is :",float(a))
print("Initial type of a is :",type(a))
print("initial type changed to str as such :",type(str(a)))
print("Absolute value of b is:",abs(b))
print("Maximum of tuple is :",max(t))
print("Minimum of tuple is :",min(t))

Upper of string is : SRING
Lower of string is : string
Maximum is : 600
Minimum is : 1
Float is : 10.0
Initial type of a is : <class 'int'>
initial type changed to str as such : <class 'str'>
Absolute value of b is: 22.33
Maximum of tuple is : 300
Minimum of tuple is : 2

In [22]:
#Tuple,string and list are iterable
print(all(l))
print(any(l))

True
True

In [23]:
print(all(s))
print(any(s))

True
True

In [24]:
print(all(t))
print(any(t))

True
True

In [26]:
ll = [-2,3,4,5,6,7,"stirng"]
li = [3,4,5,6,7,0]
print(all(ll))
print(any(ll))
print(all(li))
print(any(li))

True
True
False
True

In [27]:
bin(33)

'0b100001'

In [29]:
bin(10)

'0b1010'

In [32]:
a = input("Enter name : ")
print("Hello,",a+"!")

Enter name : nm
Hello, nm!

In [34]:
chr(65)

'A'

In [56]:
tp = (33,44,55,556,77,78,94)
li = list(tp)
print(li)

TypeError: 'list' object is not callable

In [57]:
type(t)

tuple

In [67]:
e = eval(input("Enter something for evaluation : "))
print(e)

Enter something for evaluation : o

NameError: name 'o' is not defined

In [68]:
len(list)

7

In [72]:
pow(2,30)

1073741824

In [73]:
int(5.66)

5

In [77]:
a = tuple(list)
a

(33, 44, 55, 556, 77, 78, 94)

In [83]:
r = 5.666
round(r)

6

In [84]:
ceil(r)

NameError: name 'ceil' is not defined

In [88]:
ltos = str(list)
type(ltos)

str

In [89]:
stot = str(t)
type(stot)

str

In [90]:
id(list)

1537952103432

In [91]:
id(a)

1537950670184

In [92]:
id(stot)

1537952098416

In [93]:
num = 5566
bin(num)

'0b1010110111110'

In [94]:
bin(10)

'0b1010'

In [95]:
sorted(list)

[33, 44, 55, 77, 78, 94, 556]

In [99]:
tt = (44,55,66,440,3,-29)
sorted(tt)

[-29, 3, 44, 55, 66, 440]

In [101]:
se = set(tt)
print(type(se))

<class 'set'>

In [102]:
see = set(list)
print(type(see))

<class 'set'>

In [107]:
d = dict({'name','nm','age',33})

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [117]:
#Convert an integer number to a lowercase hexadecimal string prefixed with “0x”.
#If x is not a Python int object, it has to define an __index__() method that returns an integer. 
hex(555)

'0x22b'

In [118]:
hex(-586)

'-0x24a'

In [119]:
hex(66)

'0x42'

In [ ]:
help("os")

In [1]:
help(...)

Help on ellipsis object:

class ellipsis(object)
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [2]:
globals()

{'__name__': '__main__',
 '__doc__': 'Automatically created module for IPython interactive environment',
 '__package__': None,
 '__loader__': None,
 '__spec__': None,
 '__builtin__': <module 'builtins' (built-in)>,
 '__builtins__': <module 'builtins' (built-in)>,
 '_ih': ['', 'help(...)', 'globals()'],
 '_oh': {},
 '_dh': ['N:\\Workspace\\pySpace\\python_blast'],
 'In': ['', 'help(...)', 'globals()'],
 'Out': {},
 'get_ipython': <bound method InteractiveShell.get_ipython of <ipykernel.zmqshell.ZMQInteractiveShell object at 0x000001AA22DF3C48>>,
 'exit': <IPython.core.autocall.ZMQExitAutocall at 0x1aa22f1ab48>,
 'quit': <IPython.core.autocall.ZMQExitAutocall at 0x1aa22f1ab48>,
 '_': '',
 '__': '',
 '___': '',
 '_i': 'help(...)',
 '_ii': '',
 '_iii': '',
 '_i1': 'help(...)',
 '_i2': 'globals()'}

In [ ]:
help()

Welcome to Python 3.7's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the Internet at https://docs.python.org/3.7/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".

help> all
Help on built-in function all in module builtins:

all(iterable, /)
    Return True if bool(x) is True for all values x in the iterable.

    If the iterable is empty, return True.

help> globals
Help on built-in function globals in module builtins:

globals()
    Return the dictionary containing the current scope's global variables.

    NOTE: Updates to this dictionary *will* affect name lookups in the current
    global scope and vice-versa.

help> .
Attribute references
********************

An attribute reference is a primary followed by a period and a name:

   attributeref ::= primary "." identifier

The primary must evaluate to an object of a type that supports
attribute references, which most objects do.  This object is then
asked to produce the attribute whose name is the identifier.  This
production can be customized by overriding the "__getattr__()" method.
If this attribute is not available, the exception "AttributeError" is
raised.  Otherwise, the type and value of the object produced is
determined by the object.  Multiple evaluations of the same attribute
reference may yield different objects.

Related help topics: getattr, hasattr, setattr, ATTRIBUTEMETHODS, FLOAT,
MODULES, OBJECTS

In [7]:
s = [3,4,5,6]
sum(s)

18

In [8]:
ts = (44,55,66,77)
sum(ts)

242

In [10]:
se = {44,66,77,88,900}
sum(se)

1175

In [11]:
dir()

['In',
 'Out',
 '_',
 '_10',
 '_7',
 '_8',
 '_9',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i2',
 '_i3',
 '_i4',
 '_i5',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'a',
 'exit',
 'get_ipython',
 'quit',
 's',
 'se',
 'ts']

In [15]:
dir("module")

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [16]:
for i in range(20):
    print(i, end=" ")

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19

In [29]:
s = 'name'
c = 'c'
ss = 1000000005
n = 55.66
print(hash(n))
print(hash(s))
print(hash(ss))
print(hash(c))

1521856386081030199
-221177922558593853
1000000005
-4241101628494327995

In [30]:
bool('s')

True

In [37]:
print(bool('stingsa'))
print(bool(-55))
print(bool(False))
print(bool(0))

True
True
False
False

In [43]:
complex(-99.9)

(-99.9+0j)

In [44]:
oct(55)

'0o67'

In [45]:
oct(-55)

'-0o67'

In [46]:
oct('singjas')

TypeError: 'str' object cannot be interpreted as an integer

In [47]:
ascii(66)

'66'

In [48]:
ascii('stingaksd')

"'stingaksd'"

In [49]:
ascii(-55.66)

'-55.66'

In [53]:
type(ascii(55))

str

In [54]:
type(repr(66.6))

str

In [64]:
li = [34,4,5,6,6,7]
ll = li.__reversed__()
print(ll)

<list_reverseiterator object at 0x000001C3D3814A48>

In [65]:
t = (4,5,6,67)
tr = reversed(t)
print(tr)

<reversed object at 0x000001C3D380FF08>

In [66]:
tr

setattr(object, name, value)
This is the counterpart of getattr(). The arguments are an object, a string and an arbitrary value. The string may name an existing attribute or a new attribute. The function assigns the value to the attribute, provided the object allows it. For example, setattr(x, 'foobar', 123) is equivalent to x.foobar = 123.

In [68]:
slice(2,-1,1)

slice(2, -1, 1)

In [81]:
class Employee:
    def __init__(self,name, age):
        self.name = name
        self.age = age
        
nm = Employee("nayeem",33)
print(nm.name)
print(nm.age)

nayeem
33

In [86]:
class Employee:
    def inser_value(self,name,age,job):
        self.name = name
        self.age = age
        self.job = job
        
nm = Employee()
nm.inser_value("Nayeem",22,'ai developer')
print(nm.name, nm.age, nm.job)

Nayeem 22 ai developer

In [89]:
ord('A')

65

In [91]:
ord('%')

37

In [95]:
aprint = print
aprint('hello there a')

hello there a

In [106]:
#(a // b, a % b)
a, b = divmod(44,5)
print(a)
print(b)

8
4

In [98]:
44//5

8

In [100]:
import math
math.floor(44/5)

8

In [101]:
math.ceil(44/5)

9

In [109]:
l = [12,43,64,75,886,967,48]
list(enumerate(l))

[(0, 12), (1, 43), (2, 64), (3, 75), (4, 886), (5, 967), (6, 48)]

In [111]:
list(iter(l))

[12, 43, 64, 75, 886, 967, 48]

In [112]:
repr(33)

'33'

In [113]:
repr('shaf')

"'shaf'"

In [118]:
list(reversed(l))

[48, 967, 886, 75, 64, 43, 12]

In [119]:
l

[12, 43, 64, 75, 886, 967, 48]

In [123]:
help(compile)

Help on built-in function compile in module builtins:

compile(source, filename, mode, flags=0, dont_inherit=False, optimize=-1)
    Compile source into a code object that can be executed by exec() or eval().

    The source code may represent a Python module, statement or expression.
    The filename will be used for run-time error messages.
    The mode must be 'exec' to compile a module, 'single' to compile a
    single (interactive) statement, or 'eval' to compile an expression.
    The flags argument, if present, controls which future statements influence
    the compilation of the code.
    The dont_inherit argument, if true, stops the compilation inheriting
    the effects of any future statements in effect in the code calling
    compile; if absent or false these statements do influence the compilation,
    in addition to any features explicitly specified.

In [128]:
'-'.join("name")

'n-a-m-e'

In [130]:
l = ['name','age','bill','op']

In [131]:
'-'.join(l)

'name-age-bill-op'

In [135]:
num = (3,4,5,6,7)
def func(n):
    return n**2
a = map(func, num)
list(a)

[9, 16, 25, 36, 49]

In [137]:
a = list(map(lambda x:x*2, num))
a

[6, 8, 10, 12, 14]

In [139]:
a= [3,4,5]
b = [6,7,8]
c = [3,1,8,5]

ans = map(lambda x,y,z : x+y+z, a, b,c)
print(list(ans))

[12, 12, 21]

In [140]:
s = ['name','age','done']
aa = list(map(list, s))
print(aa)

[['n', 'a', 'm', 'e'], ['a', 'g', 'e'], ['d', 'o', 'n', 'e']]

In [142]:
a = ("John", "Charles", "Mike")
b = ("Jenny", "Christy", "Monica", "Vicky")

x = zip(a, b)
print(list(x))

[('John', 'Jenny'), ('Charles', 'Christy'), ('Mike', 'Monica')]

In [149]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
memoryview()
next()
slice()
object()
staticmethod()
breakpoint()
exec()
bytearray()
filter()
callable()
format()
property()
classmethod()
compile()
__import__()

In [154]:
memoryview(bytes(33))

In [155]:
bytes(33)

b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00'

# w3Schools tutorials

In [156]:
dict(name='nayeem', age=33)

{'name': 'nayeem', 'age': 33}

In [157]:
l = [2,4,5,6,6,7]
set(l)

{2, 4, 5, 6, 7}

In [158]:
frozenset(l)

frozenset({2, 4, 5, 6, 7})

In [162]:
bool(0)

False

In [165]:
memoryview(bytearray(29))

In [167]:
memoryview(bytes(29))

In [171]:
a = ['name','age','age','name']
set(a)

{'age', 'name'}

In [177]:
bb = '''hello there i;m sehaklsd\
sdfaskdfja
kdfjadf
akdfajlsfd'''
print(bb)

hello there i;m sehaklsdsdfaskdfja
kdfjadf
akdfajlsfd

In [184]:
a = '  my name is dear alyne   '
aa = a.strip()
print(len(a))
print(len(aa))

26
21

In [185]:
aa.replace('n','N')

'my Name is dear alyNe'

In [186]:
aa.split(" ")

['my', 'name', 'is', 'dear', 'alyne']

In [192]:
aa.split('n')

['my ', 'ame is dear aly', 'e']

In [193]:
age = 44
msg = 'my age is {}'

print(msg.format(age))

my age is 44

In [194]:
a = 'hello \bworld'
print(a)

hello world

In [197]:
a = 'hello \tworld'
print(a)

hello 	world

In [200]:
a = 'hello\rworld'
print(a)

world

In [201]:
a = 'hello \'world'
print(a)

hello 'world

In [202]:
a = 'hello \"world'
print(a)

hello "world

In [203]:
a = 'hello \\world'
print(a)

hello \world

In [204]:
a = 'hello \fworld'
print(a)

hello world

In [206]:
a = 'hello\nworld'
print(a)

hello
world

In [217]:
print("\165")
print("\x44")

u
D

In [220]:
2<<0

2

In [221]:
~2

-3

In [228]:
not False

True

List is a collection which is ordered and changeable. Allows duplicate members

Tuple is a collection which is ordered and unchangeable. Allows duplicate members

Set is a collection which is unordered and unindexed. No duplicate members

Dictionary is a collection which is unordered, changeable and indexed. No duplicate members.

In [231]:
list1 = ["a", "b" , "c"]
list2 = ['nam', 'sj', 'op']

list1.extend(list2)
print(list1)

['a', 'b', 'c', 'nam', 'sj', 'op']

In [233]:
se = {'apple','banana','more'}
se.add('kola')
print(se)

{'more', 'kola', 'apple', 'banana'}

In [234]:
se.update(['more','kolemore'])
print(se)

{'more', 'apple', 'banana', 'kolemore', 'kola'}

In [235]:
se.remove('kola')
se

{'apple', 'banana', 'kolemore', 'more'}

In [237]:
se.clear()
se

set()

In [238]:
del se

In [240]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [241]:
thisdict.get('brand')

'Ford'

In [242]:
thisdict['brand'] = 'bmw'
thisdict

{'brand': 'bmw', 'model': 'Mustang', 'year': 1964}

In [246]:
for x in thisdict:
    print(thisdict[x], end=" ")

bmw Mustang 1964

In [247]:
for x in thisdict.keys():
    print(x)

brand
model
year

In [248]:
for y in thisdict.values():
    print(y)

bmw
Mustang
1964

In [249]:
for x,y in thisdict.items():
    print(x,y)

brand bmw
model Mustang
year 1964

In [250]:
len(thisdict)

3

In [251]:
thisdict["color"] = "red"
print(thisdict)

{'brand': 'bmw', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [253]:
thisdict.popitem()
print(thisdict)

{'brand': 'bmw', 'model': 'Mustang', 'year': 1964}

In [254]:
thisdict.pop('year')
print(thisdict)

{'brand': 'bmw', 'model': 'Mustang'}

In [255]:
del thisdict['model']
print(thisdict)

{'brand': 'bmw'}

In [257]:
if 55>6:print("55 is grater than 6")

55 is grater than 6

In [260]:
print("55 is grater than 6") if 55>6 else print('not greater')

#This technique is known as Ternary Operators, or Conditional Expressions.

55 is grater than 6

In [264]:
for x in range(6):
    print(x)
else:
    print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [270]:
def func(*kids):
    for i in kids:
        print(i)
    
func('nam','age','opi','more')

nam
age
opi
more

In [273]:
def func(*kids):
    for i in kids:
        print(i)
l =('nam','age','opi','more')
func(*l)

nam
age
opi
more

In [274]:
def func(*kids):
    for i in kids:
        print(i)
l ={'nam','age','opi','more'}
func(*l)

more
opi
age
nam

In [278]:
def tri_recursion(k):
    if(k > 0):
        result = k + tri_recursion(k - 1)
    else:
        result = 0
    return result

r = tri_recursion(6)
print("\n\nRecursion Example Results",r)

Recursion Example Results 21

In [281]:
l = [3,5,6,7,8]
l.pop(1)
l

[3, 6, 7, 8]

In [282]:
def fu(n):
    return lambda a, b, c: a*n+b-c

lfunc = fu(8)
print(lfunc(3,3,4))

23

In [283]:
class no:
    x = 44
no.x

44

In [284]:
class employee:
    def __init__(this, name, age):
        this.name = name
        this.age = age
        
nm = employee("nayeem",44)
print(nm.name, nm.age)

nayeem 44

In [286]:
nm.name = 'abdul'
print(nm.name, nm.age)

abdul 44

In [287]:
class blank:
    pass

n = blank()
print(type(n))

<class '__main__.blank'>

In [288]:
print(type(nm))

<class '__main__.employee'>

In [292]:
class Person:
    def __init__(self, fname, lname):
        self.firstname = fname
        self.lastname = lname
    def printname(self):
        print(self.firstname, self.lastname)

#Use the Person class to create an object, and then execute the printname method:

x = Person("John", "Doe")
x.printname()

John Doe

In [306]:
class child(Person):
    def __init__(self,fname, lname , age, birthyear, country):
        super().__init__(fname, lname)
        self.age = age
        self.birthyear = birthyear
        self.country = country
    def getvalues(self):
        print(self.age, self.birthyear, self.country)
        
cnm = child("mahmudul", 'hasan', 33, 1987, "usa")
cnm.printname()
cnm.getvalues()

mahmudul hasan
33 1987 usa

In [314]:
mytuple = ("apple", "banana", "cherry")
myiter = iter(mytuple)
myiter

In [315]:
print(next(myiter))

apple

In [319]:
mystr = 'hellohere'
myit = iter(mystr)

print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))

h
e
l
l
o
h
e
r
e

In [330]:
import datetime
x = datetime.datetime.now()
x.year

2020

In [334]:
x.time()

datetime.time(0, 35, 37, 161086)

In [335]:
x.strftime("%A")

'Friday'

In [337]:
max((2,3,4,5))

5

In [338]:
import math
math.ceil(2.2)

3

In [339]:
math.floor(3.8)

3

In [340]:
math.pi

3.141592653589793

In [344]:
x = -1

if x < 0:
    raise BaseException("Sorry, no numbers below zero")

BaseException: Sorry, no numbers below zero

A RegEx, or Regular Expression, is a sequence of characters that forms a search pattern.

RegEx can be used to check if a string contains the specified search pattern.

In [7]:
import random

random.random()

0.5062445741135111

In [9]:
random.seed(10)

In [10]:
random.random()

0.5714025946899135

In [17]:
import math
math.cos(5)

0.28366218546322625

### String

In [1]:
s = 'hello there i\'m nayeem'
s.capitalize()

"Hello there i'm nayeem"

In [2]:
s.casefold()

"hello there i'm nayeem"

In [6]:
s.center(4)

"hello there i'm nayeem"

In [9]:
s.count('hel')

1

In [10]:
s.encode()

b"hello there i'm nayeem"

In [13]:
s.endswith('eem')

True

In [14]:
s.replace('e','L')

"hLllo thLrL i'm nayLLm"

In [15]:
s

"hello there i'm nayeem"

In [16]:
s.islower()

True

In [17]:
s.isupper()

False

In [21]:
"=".join(s)

"h=e=l=l=o= =t=h=e=r=e= =i='=m= =n=a=y=e=e=m"

In [19]:
s.split("'")

['hello there i', 'm nayeem']

In [22]:
s.isdigit()

False

In [23]:
s.isnumeric()

False

In [25]:
s.istitle()

False

In [26]:
s.isspace()

False

In [27]:
s.isidentifier()

False

In [28]:
s.isdigit()

False

In [29]:
s.isdecimal()

False

In [30]:
s.isalpha()

False

In [31]:
s.isalpha()

False

In [40]:
s.index('l')

2

In [36]:
len(s)

22

In [41]:
s.find('n')

16

In [42]:
ss = " hello there"
ss.lstrip()

'hello there'

In [43]:
print(ss)

 hello there

In [46]:
ss.ljust(4)

' hello there'

In [47]:
ss.title()

' Hello There'

In [52]:
ss.translate("he")

' hello there'

In [53]:
ss.swapcase()

' HELLO THERE'

In [54]:
ss.strip()

'hello there'

In [55]:
ss.startswith('j')

False

In [57]:
ss.splitlines()

[' hello there']

In [59]:
a = 'im nayem. hello there'
a.splitlines()

['im nayem. hello there']

In [73]:
r = " hellotehrejskfa "
r.lstrip("h")

' hellotehrejskfa '

In [66]:
r.rjust(3)

' hellotehrejskfa '

In [69]:
r.rsplit('r')

[' helloteh', 'ejskfa ']

In [70]:
r.split('r')

[' helloteh', 'ejskfa ']

In [72]:
r.rpartition('r')

(' helloteh', 'r', 'ejskfa ')

In [78]:
txt = ",,,,,ssaaww.....banana"
x = txt.lstrip(",.aw")
print(x)

ssaaww.....banana